.example-card {
  width: 760px;
  height: 530px;
  box-shadow: 1 4px 8px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

.all {
  padding-left: 20%;
}

.logo {
  padding-left: 4%;
  padding-top: 1%;
}

.example-container {
  padding-left: 28%;
  padding-top: 1%;
}

mat-form-field {
  width: 70%;

}

mat-card-header {
  padding-left: 25%;
  padding-top: 1%;
}

.size {
  font-size: 30px;
  color: #163651;
  font-family: "Source Sans Pro";
  font-weight: 400;
  line-height: 10px;
  font-family: "Segoe UI";
  font-weight: 400;
}

mat-card-actions {
  padding-left: 25%;
}

.signup {
  margin-top: 7px;
  width: 185px;
  height: 40px;
  border: 1px solid #163651;
  background-color: #163651;
  color: #ffffff;
}

mat-button {
  padding-left: 12%;
}

.gap {
  padding-left: 12%;
}

.remember {
  width: 98px;
  height: 26px;
  color: #43425d;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  font-family: "Segoe UI";
  font-weight: 400;
}

.forget {
  color: #43425d;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  font-family: "Segoe UI";
  font-weight: 400;
}

.gap {
  margin-left: 40px;
}

.card1 {
  padding-top: 5%;
}

.g {
  padding-left: 2%;
}

mat-icon {
  color: #163651;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
  color: #163651;
}

.si {
  padding-left: 29%;
  color: #163651;
}
