<mat-sidenav-container class="tp-container">
    <mat-sidenav mode="side" opened>
        <div class="navmenu">
            <a mat-list-item routerLink="/dashboard/" routerLinkActive="is-active">
                <section class="tp-section">
                    <mat-icon>home</mat-icon>
                    <div class="word"> Home</div>
                </section>
            </a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div *ngIf="!getrole()">
            <app-grade-list></app-grade-list>
        </div>
        <div *ngIf="getrole()">
            <app-stundent-list></app-stundent-list>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>