<mat-toolbar  color="primary"  class="fixed-header">
        <mat-toolbar-row>
        <span><img  src="../../../assets/images.png"  style="width:50px;"></span>
        <a  mat-button routerLink="/login">Login</a>
        </mat-toolbar-row>
        </mat-toolbar>
        
<div class ="home">
    <img src ="../../../assets/stude.jpg">

</div>
<div id="stud">
        <h1>Student and teacher managment system</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </div>