.add{
  margin-top: 17px;
  margin-left: 20px;
  width: 185px;
  height: 40px;
  border: 1px solid #163651;
  background-color: #163651;
  color: #ffffff;
}
.table {
  padding-top: 10px;
}
table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}
th.mat-header-cell {
  text-align: left;
  max-width: 70px;
  background-color: #f4f4f5;
  font-size: 12px;
  font-style: bold;
}
th.mat-cell {
  max-width: 50px;
}
.example-card {
  margin-top: 60px;
  margin-left: 1.7%;
  width: 94%;
  height: 100%;
}
.mat-17 {
  color: #0c538d;
}
